*.iml
.gradle/
.idea/
local.properties
build/
**/build/
app/libs/*.aar
app/src/main/jniLibs/*/*.so
.native-build/
*.apk
*.aab
*.jks
*.keystore
.env
.env.*
!.env.example
captures/
.externalNativeBuild/
.cxx/
.DS_Store
